.container {
    width: 70%;
    margin: 100px auto;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.box1, .box2 {
    display: flex; 
    align-items: center; 
    margin-top: 80px; 
    gap: 50px; 
}

.left-box {
    flex: 1;
    text-align: right; 
}

.number {
    color: rgb(86, 86, 185); 
    font-size: 28px; 
    font-weight: bold;
    margin: 0;
}

.right-box {
    flex: 1.2;
    text-align: left;
    color: black;
    line-height: 1.2;
    text-align: justify;
}

.box2 .right-box p {
    font-family: 'Dancing Script', cursive; 
    font-size: 18px;
    font-weight: bold;
    color: rgb(48, 45, 45);
}
