* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.main-container {
    background: linear-gradient(135deg, #74b9ff, #a29bfe, #6c5ce7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-box {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.x {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

h1 {
    margin-bottom: 30px;
    font-size: 30px;
}

.input {
    text-align: left;
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 8px;
    color:rgb(39, 35, 35);
}

.input input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(200, 196, 196);
    border-radius: 3px;
}

.forgot-link {
    display: block;
    text-align: left;
    color:rgb(36, 131, 187);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 30px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 50%, #6a11cb 100%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    margin-bottom: 25px;
}

.signup {
    font-size: 13px;
    color: black;
}

.signup a {
    color: rgb(31, 111, 177);
    text-decoration: none;
    font-weight: bold;
}
